.localisation 
{
    align-items: center;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    gap: 1rem;
    height: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    i {
    font-size: 1.25rem;
    }
    padding-right: 0; /* Aucun padding à droite */
    padding-left: 0; /* Aucun padding à gauche */
    margin-left: 0;
    border-left: 0;
}