.museum-news {
    text-align: center;
    padding: 20px;
}

.museum-news h2 {
    font-size: 24px;
    color: #444;
}

.museum-news p {
    color: #666;
}

.museum-news img {
    width: auto;
    height: auto;
    max-width: 1650px;
    max-height: 850px;
}


/* Media query pour les écrans de tablettes */
@media (max-width: 768px) {
    .museum-news img {
        max-width: 600px;
        max-height: 450px;
    }
}

/* Media query pour les écrans de téléphones */
@media (max-width: 480px) {
    .museum-news img {
        max-width: 300px;
        max-height: 250px;
    }
}