.partners-container {
  text-align: center; /* Centre tout dans le conteneur */
  margin: 40px 0; /* Augmente l'espace vertical autour du conteneur */
}

.partners-container h3 {
  font-size: 2em; /* Augmente la taille du titre */
  margin-bottom: 30px; /* Augmente l'espace sous le titre */
}

.logos {
  display: flex;
  justify-content: center; /* Centre horizontalement les logos */
  gap: 30px; /* Augmente l'espace entre les logos */
}

.partner-logo {
  height: 80px; /* Augmente la hauteur des logos */
  vertical-align: middle; /* Alignement vertical si nécessaire */
  max-width: 100%; /* Ajouté pour empêcher les logos de dépasser leur conteneur */
}

/* Media queries pour l'adaptation mobile */
@media (max-width: 768px) {
  .partners-container h3 {
      font-size: 1.5em; /* Ajuste la taille du titre pour mobile */
  }

  .partner-logo {
      height: 90px; /* Ajuste la taille des logos pour mobile */
      width: 150px; /* Ajoute un contrôle de la largeur des logos */
  }

  .logos {
      flex-direction: column; /* Empile les logos verticalement sur mobile */
      gap: 15px; /* Ajuste l'espace pour mobile */
      align-items: center; /* Centre les logos dans leur conteneur */
  }
}
